.button {
    display: inline-block;
    /* padding: 18px 45px 15px; */
    padding: 18px clamp(0.938rem, 0.256rem + 3.41vw, 2.813rem) 15px;
    border-radius: 7px;
    /* height: 52px; */
    background-color: var(--accent);

    font-family: var(--font-accent);
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.26em;
    color: #000;
    line-height: 1;

    /* ПЕРЕПРОВЕРИТЬ!!!!!! */
    transition: background-color 0.2s ease-in;
}

.button:hover,
.button:active {
    background-color: #f3c158;
}

@media (max-width: 800px) {
    .button {
        letter-spacing: 0.16em;
    }
}