.form {
    display: grid;
    gap: 30px;
}

.label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.input {
    display: block;
    width: 100%;
    padding: 5px 0 9.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 200;
}

.textarea {
    resize: vertical;

    display: block;
    width: 100%;
    height: 158px;
    padding: 4px 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: var(--second-family);
    font-weight: 200;
    line-height: 1.5;
}

.textarea:focus {
    outline: none;
}